*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
code/data/*.tsv
code/data/*.zip
code/data/*.csv
code/.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so


# Distribution / packaging
.Python
.eggs/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

*.mo
*.pot

docs/_build/

300features_40minwords_10context
code/model_data
code/results/raw
*.hdf
code/out
word_embeddings/wget-log
word_embeddings/data/enwiki-latest-pages-articles.xml.bz2
word_embeddings/data/embeddings/questions-words.txt
word_embeddings/log_prepare.txt
word_embeddings/torrents/enwiki-20150602-pages-articles.xml.bz2
word_embeddings/data/dictionary.txt
word_embeddings/data/id2title
word_embeddings/data/lsi.model
word_embeddings/data/lsi.model.projection
word_embeddings/data/lsi.model.projection.u.npy
word_embeddings/data/lsi_vectors.mm
word_embeddings/data/lsi_vectors.mm.index
word_embeddings/data/tfidf.model
word_embeddings/data/title_tokens.txt.gz
word_embeddings/data/bak/id2title
word_embeddings/data/bak/title_tokens.txt.gz
dictionary
code/data/aclImdb
aclImdb_v1.tar.gz
schedule.sh
infinite_slave.sh
code/preprocess/*.csv
code/preprocess/.idea
code/preprocess/*.tsv
code/model_data_backup
code/tmpcompress
_tmp_pipe
.host_name
code/model_data_backup2
75epochs-out.txt
15epochs-out.txt
alldata-id.txt
code/notebooks/aclImdb
doc2vec-IMDB-checkpoint.ipynb
doc/thesis-draft/thesis.bbl
doc/thesis-draft/thesis.blg
doc/thesis-draft/thesis.ps
doc/thesis-draft/thesis.thm
doc/thesis-draft/build
doc/thesis-draft/thesis.aux
doc/thesis-draft/thesis.dvi
doc/thesis-draft/thesis.out
doc/thesis-draft/thesis.pdf
doc/thesis-draft/thesis.toc
refs.bib
*.synctex.gz
thesis.synctex.gz(busy)
code/performancelogs/.idea



