numpy
scipy==0.15.1
scikit-learn
nltk
pandas
beautifulsoup4
#gensim==0.11.1-1
gensim==0.12.1
#git+https://github.com/piskvorky/gensim.git@master
cython
cachetools
tables
joblib
requests
click
scikit-neuralnetwork
#Theano
matplotlib
pyzmq
jinja2
tornado
jsonschema
nose
pytest
ipython
Pillow
sympy
bottleneck
h5py
sqlalchemy
statsmodels
httplib2
python-gflags
simplejson
google-api-python-client
uritemplate
blosc
patsy
